In [1]:
import os
import re
import json
import time
import requests
import random
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
BASE_URL = 'https://www.basketball-reference.com/players/m/maxeyty01.html'

In [3]:
tables = pd.read_html(BASE_URL)

In [4]:
len(tables)

8

In [5]:
per_game = tables[1]
per_game

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2020-21,20.0,PHI,NBA,SG,61,8,15.3,3.2,7.0,...,0.871,0.2,1.5,1.7,2.0,0.4,0.2,0.7,1.3,8.0
1,2021-22,21.0,PHI,NBA,PG,75,74,35.3,6.4,13.3,...,0.866,0.3,2.9,3.2,4.3,0.7,0.4,1.2,2.1,17.5
2,2022-23,22.0,PHI,NBA,SG,60,41,33.6,7.3,15.2,...,0.845,0.4,2.6,2.9,3.5,0.8,0.1,1.3,2.2,20.3
3,2023-24,23.0,PHI,NBA,PG,22,22,37.5,9.0,19.5,...,0.895,0.6,3.5,4.1,6.8,0.8,0.6,1.4,1.9,26.1
4,Career,NaN,NaN,NBA,NaN,218,145,29.5,6.0,12.7,...,0.865,0.3,2.5,2.8,3.7,0.7,0.3,1.1,1.9,16.5

In [6]:
per_game.to_csv("../data/per_game.csv", index=False)

In [7]:
advanced = tables[6]
advanced

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,2020-21,20.0,PHI,NBA,SG,61,935,14.5,0.531,0.240,...,NaN,0.8,1.1,1.9,0.099,NaN,-1.0,-0.5,-1.5,0.1
1,2021-22,21.0,PHI,NBA,PG,75,2650,16.2,0.594,0.311,...,NaN,5.4,1.9,7.3,0.132,NaN,1.3,-0.7,0.6,1.8
2,2022-23,22.0,PHI,NBA,SG,60,2016,17.0,0.605,0.404,...,NaN,3.7,1.6,5.4,0.128,NaN,1.9,-1.2,0.6,1.3
3,2023-24,23.0,PHI,NBA,PG,22,826,21.6,0.596,0.416,...,NaN,2.9,0.7,3.5,0.204,NaN,5.6,-0.9,4.7,1.4
4,Career,NaN,NaN,NBA,NaN,218,6427,16.9,0.588,0.347,...,NaN,12.8,5.3,18.1,0.135,NaN,1.7,-0.9,0.8,4.6

In [8]:
advanced.to_csv("../data/advanced.csv", index=False)

In [9]:
shooting = tables[7]
shooting

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,2020-21,20.0,PHI,NBA,SG,12,156,12.7,0.502,0.182,...,NaN,0.0,0.2,0.2,0.074,NaN,-2.0,0.8,-1.2,0.0
1,2021-22,21.0,PHI,NBA,PG,12,485,16.9,0.610,0.379,...,NaN,1.1,0.2,1.3,0.132,NaN,2.4,-0.3,2.1,0.5
2,2022-23,22.0,PHI,NBA,SG,11,423,16.8,0.550,0.443,...,NaN,0.6,0.4,1.0,0.117,NaN,1.9,0.4,2.2,0.5
3,Career,NaN,NaN,NBA,NaN,35,1064,16.2,0.568,0.377,...,NaN,1.7,0.9,2.6,0.117,NaN,1.6,0.1,1.7,1.0

In [10]:
College_URL = "https://www.sports-reference.com/cbb/players/tyrese-maxey-1.html?utm_medium=sr_xsite&utm_source=bbr&utm_campaign=2023_02_tbl_player_college_stats&utm_content=lnk_mcbb&utm_id=maxeyty01&__hstc=180814520.7af6a6c26ac998400be3ee219bcf4f1f.1701358307557.1701358307557.1701358307557.1&__hssc=180814520.2.1701358307558&__hsfp=1999393944"

In [11]:
tables = pd.read_html(College_URL)

In [12]:
len(tables)

10

In [13]:
College_per_game = tables[0]
College_per_game

,Season,School,Conf,Class,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 28,SOS
0,2019-20,Kentucky,SEC,FR,31,28,34.5,4.8,11.3,0.427,...,3.9,4.3,3.2,0.9,0.4,2.2,2.4,14.0,NaN,7.46
1,Career,Kentucky,NaN,NaN,31,28,34.5,4.8,11.3,0.427,...,3.9,4.3,3.2,0.9,0.4,2.2,2.4,14.0,NaN,7.46

In [14]:
College_per_game.to_csv("../data/college_per_game.csv", index=False)

In [15]:
College_advanced = tables[8]
College_advanced

,Season,School,Conf,Class,G,GS,MP,PER,TS%,eFG%,...,USG%,Unnamed: 21,OWS,DWS,WS,WS/40,Unnamed: 26,OBPM,DBPM,BPM
0,2019-20,Kentucky,SEC,FR,31,28,1069,16.3,0.531,0.474,...,22.7,NaN,2.1,1.5,3.6,0.134,NaN,2.4,2.0,4.4
1,Career,Kentucky,NaN,NaN,31,28,1069,16.3,0.531,0.474,...,22.7,NaN,2.1,1.5,3.6,0.134,NaN,2.4,2.0,4.4

In [16]:
College_advanced.to_csv("../data/college_advanced.csv", index=False)

In [17]:
Transition_points_url = "https://www.nba.com/stats/players/transition?dir=D&sort=PTS"

In [18]:
tables = pd.read_html(Transition_points_url)

ImportError: Pandas requires version '4.9.3' or newer of 'bs4' (version '4.8.2' currently installed).

In [ ]:
URL2 = "http://www.82games.com/2324/2324PHI1.HTM"

In [ ]:
tables = pd.read_html(URL2)

In [ ]:
len(tables)

In [ ]:
floortime = tables[2]
floortime

In [ ]:
floortime.to_csv("../data/floortime.csv", index=False)

In [ ]:
URL3 = "http://www.82games.com/2324/23PHI2.HTM"

In [ ]:
tables2 = pd.read_html(URL3)

In [ ]:
len(tables2)

In [ ]:
five_man = tables2[12]
five_man

In [ ]:
five_man.to_csv("../data/five_man.csv", index=False)

In [20]:
URL4 = "https://www.nba.com/stats/teams/transition?SeasonYear=2023-24"

ImportError: Pandas requires version '4.9.3' or newer of 'bs4' (version '4.8.2' currently installed).

In [ ]:
tables4[0]